<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.soar">

    <uses-permission
        android:name="android.permission.requestLegacyExternalStorage"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- network 연결 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:name=".EntryPage.SignIn.KakaoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SOAR"
        tools:targetApi="31">
        <activity
            android:name=".MyPage.Unsubscribe.UnsubscribeSucessActivity"
            android:exported="false" />
        <activity
            android:name=".MyPage.Unsubscribe.Unsubscribe2Activity"
            android:exported="false" />
        <activity
            android:name=".MyPage.Unsubscribe.UnsubscribeActivity"
            android:exported="false" />
        <activity
            android:name=".ArchivingPage.BookmarkEditActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmPage.AlarmSettingActivity"
            android:exported="false" />
        <activity
            android:name=".MyPage.FindResultActivity"
            android:exported="false" />
        <activity
            android:name=".MyPage.FindActivity"
            android:exported="false" />
        <activity
            android:name=".MyPage.ChangePwActivity"
            android:exported="false" />
        <activity
            android:name=".MyPage.PolicyActivity"
            android:exported="false" />
        <activity
            android:name=".MyPage.AnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".MyPage.RecordActivity"
            android:exported="false" />
        <activity
            android:name=".MyPage.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".MyPage.AppliedActivity"
            android:exported="false" />
        <activity
            android:name=".MyPage.ProfileActivity"
            android:exported="false" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_native_app_key" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExplorePage.PersonalBizActivity"
            android:exported="false"
            android:theme="@style/DimmedActivityTheme" />
        <activity
            android:name=".ExplorePage.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmPage.AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".ArchivingPage.KeywordActivity"
            android:exported="false" />
        <!-- 앱 첫 실행용 스플래시 -->
        <activity
            android:name=".EntryPage.Splash.SplashPageActivity"
            android:exported="true"> <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".DetailPage.DetailPageActivity"
            android:exported="false" />
        <activity android:name=".DetailPage.ReviewDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <!-- 온보딩 페이지 -->
        <activity android:name=".EntryPage.Onboarding.OnBoardingActivity" />
        <!-- 로그인 페이지 -->
        <activity android:name=".EntryPage.SignIn.LoginActivity" />
        <!-- 회원가입 페이지 -->
        <activity
            android:name=".EntryPage.SignUp.SignUpActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 큐레이션시퀀스 페이지 -->
        <activity android:name=".CurationSequencePage.CurationSequenceActivity" />

        <activity android:name=".Utill.TermActivity" />

        <activity android:name=".Utill.TermAgreeActivity" />

        <activity android:name=".MyPage.TagSelection.TagSelectionActivity" />
        <service
            android:name=".AlarmPage.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>